@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

@layer components{
  .number-input{
    @apply text-right bg-Light-grayish-cyan-2 w-full rounded font-bold text-Very-dark-cyan border-2 border-transparent px-3 py-1 focus:border-Strong-cyan cursor-pointer hover:border-Strong-cyan focus:outline-none 
  }
  .tip-btn{
    @apply w-full bg-Very-dark-cyan rounded text-white py-2 font-bold hover:text-Very-dark-cyan  hover:bg-Light-grayish-cyan-1
  }

  div .tip-btn.chosen-tip{
    @apply bg-Strong-cyan text-Very-dark-cyan
  }
}

